* {
    -fx-font-family: Futura;
    -fx-font-weight: bold;
}

* :disabled {
    -fx-opacity: 1;
}

#progressBar {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-accent: #008057;
}

.button {
    -fx-background-color: #11AD31;
    -fx-max-height: 47;
}

#reconnectButton,
#homeButton {
    -fx-font-size: 20;
}

#gameBg,
#entryBg {
    -fx-border-width: 0;
    -fx-background-color: #6EB7F5;
}

#topPane, #rightPane, #leftPane, #centralPane, #bottomPane {
    -fx-background-color: #6EB7F5;
}

#namePopupBg {
    -fx-background-color: #4891CF;
}

#scoreLabel,
#leaderboardTable {
    -fx-background-color: #D7CC6B;
}

#scoreLabel {
    -fx-text-fill: #165B24;
}

#questionLabel {
    -fx-background-color: #C4C4C4;
}

#jokerTime,
#jokerPoints,
#jokerAnswer,
#IPField,
#nameField {
    -fx-background-color: #C4C4C4;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

